<div class="container">
    <div class="row justify-content-center">
        <div class="col-sm-4">
            <h3>Add stock</h1>

            <%= render 'form', stock: @stock %>
        </div>
    </div>
</div>