<div class="container-fluid">
    <div class="row justify-content-start mb-3">
        <div class="col-1 add-new">
            <div class="circle">
            </div>
            <div class="dropdown-content">
                <a href="#">Mutual Funds</a>
                <%= link_to "Stocks", new_stock_path %>
                <!-- <a href="#"></a> -->
            </div>
        </div>
    </div>

    <!-- Tabs -->
    <div class="row justify-content-center mb-3">
        <div class="col-8">
            <section id="tabs" class="project-tab">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <nav>
                                <div class="nav nav-tabs nav-pills" id="nav-tab" role="tablist">
                                    <% @asset_classes.each do |asset| %>
                                    <% next if @asset[asset.internal_name.to_sym].blank? %>
                                    <%= link_to asset.name, "#nav-#{asset.internal_name}", class: "nav-item nav-link active", id: "nav-#{asset.internal_name}-tab", date: { toggle: "tab" }, role: "tab", aria: { controls: "nav-home", selected: "true" } %>
                                    <!--
                                            <a class="nav-item nav-link active" id=<%= "nav-#{asset}-tab" %> data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Stocks</a>
                                            <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Mutual Funds</a>
                                            <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Crypto</a>
                                            -->
                                    <% end %>
                                </div>
                            </nav>

                            <div class="tab-content" id="nav-tabContent">
                                <% @asset_classes.each do |asset| %>
                                <% next if @asset[asset.internal_name.to_sym].blank? %>
                                <%= render partial: "#{asset.internal_name}/details", locals: { asset: @asset[asset.internal_name.to_sym], total: @asset[:total], asset_class: asset } %>
                                <% end %>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>