<div class="container-fluid">
    <div class="row justify-content-start">
        <div class="col-1 add-new">
            <div class="circle">
            </div>
            <div class="dropdown-content">
                <a href="#">Mutual Funds</a>
                <%= link_to "Stocks", new_stock_path %>
                    <!-- <a href="#"></a> -->
            </div>
        </div>
    </div>
</div>