<div class="container">
    <div class="row justify-content-center">
        <div class="col-sm-5">
            <h3>Edit Mutual Fund</h1>

                <%= render 'form', mutual_fund: @mutual_fund %>
        </div>
    </div>
</div>
