<div class="container">
    <div class="row justify-content-center">
        <div class="col-sm-5">
            <h3>Add Cryptocurrency</h1>

                <%= render 'form', cryptocurrency: @cryptocurrency %>
        </div>
    </div>
</div>
