<div class="container">
    <div class="row justify-content-center">
        <div class="col-sm-5">
            <h3>Add Saving Account</h1>

                <%= render 'form', saving_account: @saving_account %>
        </div>
    </div>
</div>
